src/main/resources/xsd/coarri.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.example.com/soapservice/coarri"
           xmlns:common="http://www.example.com/soapservice/common"
           targetNamespace="http://www.example.com/soapservice/coarri"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.example.com/soapservice/common" schemaLocation="common.xsd"/>

    <xs:element name="COARRI_IN_Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="common:HeaderType"/>
                <xs:element name="VV_info">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Direction" type="xs:string" fixed="IN"/>
                            <xs:element name="VesselName" type="xs:string"/>
                            <xs:element name="VoyageNumber" type="xs:string"/>
                            <xs:element name="callsign" type="xs:string"/>
                            <xs:element name="ship_line" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CNT" type="common:CNTType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="COARRI_OUT_Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="common:HeaderType"/>
                <xs:element name="VV_info">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Direction" type="xs:string" fixed="OUT"/>
                            <xs:element name="VesselName" type="xs:string"/>
                            <xs:element name="VoyageNumber" type="xs:string"/>
                            <xs:element name="callsign" type="xs:string"/>
                            <xs:element name="ship_line" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CNT" type="common:CNTType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="COARRI_Response">
        <xs:complexType>
            <xs:choice>
                <xs:element name="Success" type="common:SuccessResponse"/>
                <xs:element name="Error" type="common:ErrorResponse"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
