src/main/resources/xsd/common.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.example.com/soapservice/common"
           targetNamespace="http://www.example.com/soapservice/common"
           elementFormDefault="qualified">

    <xs:complexType name="HeaderType">
        <xs:sequence>
            <xs:element name="messageId" type="xs:string"/>
            <xs:element name="Sender" type="xs:string"/>
            <xs:element name="Recipient" type="xs:string"/>
            <xs:element name="MessageType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="CODECO_IN"/>
                        <xs:enumeration value="CODECO_OUT"/>
                        <xs:enumeration value="COARRI_IN"/>
                        <xs:enumeration value="COARRI_OUT"/>
                        <xs:enumeration value="VV_NOTICE"/>
                        <xs:enumeration value="EXP_BOL"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CNTType">
        <xs:sequence>
            <xs:element name="Container" type="tns:ContainerType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContainerType">
        <xs:sequence>
            <xs:element name="ContainerNumber" type="xs:string"/>
            <xs:element name="Cont_syncid" type="xs:string"/>
            <xs:element name="TareWeight" type="xs:float" minOccurs="0"/>
            <xs:element name="NetWeight" type="xs:float" minOccurs="0"/>
            <xs:element name="GrossWeight" type="xs:float" minOccurs="0"/>
            <xs:element name="BruttoWeight" type="xs:float" minOccurs="0"/>
            <xs:element name="Iso" type="xs:string" minOccurs="0"/>
            <xs:element name="Empty" type="xs:boolean" minOccurs="0"/>
            <xs:element name="OperationDateTime" type="xs:string" minOccurs="0"/>
            <xs:element name="LoadPort" type="xs:string" minOccurs="0"/>
            <xs:element name="DischPort" type="xs:string" minOccurs="0"/>
            <xs:element name="LoadRollback" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Cargos" type="tns:CargosType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CargosType">
        <xs:sequence>
            <xs:element name="Cargo" type="tns:CargoType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CargoType">
        <xs:sequence>
            <xs:element name="Quantity" type="xs:integer"/>
            <xs:element name="NHM" type="xs:string"/>
            <xs:element name="Description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SuccessResponse">
        <xs:sequence>
            <xs:element name="Sender" type="xs:string"/>
            <xs:element name="Recipient" type="xs:string"/>
            <xs:element name="MessageType" type="xs:string" fixed="DONE"/>
            <xs:element name="Msgid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ErrorResponse">
        <xs:sequence>
            <xs:element name="Sender" type="xs:string"/>
            <xs:element name="Recipient" type="xs:string"/>
            <xs:element name="MessageType" type="xs:string" fixed="ERROR"/>
            <xs:element name="Msgid" type="xs:string"/>
            <xs:element name="errdescription" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
