src/main/resources/xsd/messages.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.example.com/soapservice"
           targetNamespace="http://www.example.com/soapservice"
           elementFormDefault="qualified">

    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Message" type="tns:MessageType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="MessageType">
        <xs:sequence>
            <xs:element name="Header" type="tns:HeaderType"/>
            <xs:choice>
                <xs:element name="Payload" type="tns:PayloadType"/>
                <xs:element name="CODECO" type="tns:CODECOType"/>
                <xs:element name="COARRI" type="tns:COARRIType"/>
                <xs:element name="VV_NOTICE" type="tns:VV_NOTICEType"/>
                <xs:element name="EXP_BOL" type="tns:EXP_BOLType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HeaderType">
        <xs:sequence>
            <xs:element name="messageId" type="xs:string"/>
            <xs:element name="Sender" type="xs:string"/>
            <xs:element name="Recipient" type="xs:string"/>
            <xs:element name="MessageType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="INV"/>
                        <xs:enumeration value="CODECO_IN"/>
                        <xs:enumeration value="CODECO_OUT"/>
                        <xs:enumeration value="COARRI_IN"/>
                        <xs:enumeration value="COARRI_OUT"/>
                        <xs:enumeration value="VV_NOTICE"/>
                        <xs:enumeration value="EXP_BOL"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Action" type="xs:string" minOccurs="0"/>
            <xs:element name="Date" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="TrainIndex" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PayloadType">
        <xs:sequence>
            <xs:element name="INV" type="tns:INVType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="INVType">
        <xs:sequence>
            <xs:element name="WagonNumber" type="xs:string"/>
            <xs:element name="InvoiceNumber" type="xs:string"/>
            <xs:element name="WagonType" type="xs:string"/>
            <xs:element name="PreviousStationCode" type="xs:string"/>
            <xs:element name="SenderCargo" type="xs:string"/>
            <xs:element name="ReceiverCargo" type="xs:string"/>
            <xs:element name="Etd" type="xs:dateTime"/>
            <xs:element name="Forwarder" type="xs:string" minOccurs="0"/>
            <xs:element name="Forwarder_bin" type="xs:string"/>
            <xs:element name="SendingCountry" type="xs:string" minOccurs="0"/>
            <xs:element name="RecipientCountry" type="xs:string" minOccurs="0"/>
            <xs:element name="CNT" type="tns:CNTType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CNTType">
        <xs:sequence>
            <xs:element name="Containers" type="tns:ContainersType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContainersType">
        <xs:sequence>
            <xs:element name="Container" type="tns:ContainerType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContainerType">
        <xs:sequence>
            <xs:element name="ContainerNumber" type="xs:string"/>
            <xs:element name="Cont_syncid" type="xs:string"/>
            <xs:element name="TareWeight" type="xs:float"/>
            <xs:element name="Iso" type="xs:string"/>
            <xs:element name="ContainerType" type="xs:string" minOccurs="0"/>
            <xs:element name="ContainerSize" type="xs:string" minOccurs="0"/>
            <xs:element name="Empty" type="xs:boolean"/>
            <xs:element name="Oog" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Temperature" type="tns:TemperatureType" minOccurs="0"/>
            <xs:element name="Seals" type="tns:SealsType" minOccurs="0"/>
            <xs:element name="Cargos" type="tns:CargosType" minOccurs="0"/>
            <xs:element name="NetWeight" type="xs:float" minOccurs="0"/>
            <xs:element name="GrossWeight" type="xs:float" minOccurs="0"/>
            <xs:element name="OperationDateTime" type="xs:string" minOccurs="0"/>
            <xs:element name="LoadPort" type="xs:string" minOccurs="0"/>
            <xs:element name="DischPort" type="xs:string" minOccurs="0"/>
            <xs:element name="LoadRollback" type="xs:boolean" minOccurs="0"/>
            <xs:element name="BruttoWeight" type="xs:float" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TemperatureType">
        <xs:sequence>
            <xs:element name="Type" type="xs:string" minOccurs="0"/>
            <xs:element name="TemperatureValue" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SealsType">
        <xs:sequence>
            <xs:element name="Seal" type="tns:SealType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SealType">
        <xs:sequence>
            <xs:element name="SealValue" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CargosType">
        <xs:sequence>
            <xs:element name="Cargo" type="tns:CargoType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CargoType">
        <xs:sequence>
            <xs:element name="CargoType" type="xs:string" minOccurs="0"/>
            <xs:element name="PackagingType" type="xs:string"/>
            <xs:element name="Quantity" type="xs:integer"/>
            <xs:element name="GrossWeight" type="xs:float"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="NHM" type="xs:string"/>
            <xs:element name="DangerousCargo" type="tns:DangerousCargoType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DangerousCargoType">
        <xs:sequence>
            <xs:element name="ProperShippingName" type="xs:string" minOccurs="0"/>
            <xs:element name="ImdgClass" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CODECOType">
        <xs:sequence>
            <xs:element name="Transport_info" type="tns:Transport_infoType"/>
            <xs:element name="CNT" type="tns:CNTType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Transport_infoType">
        <xs:sequence>
            <xs:element name="Direction">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="IN"/>
                        <xs:enumeration value="OUT"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TransportKind" type="xs:string"/>
            <xs:element name="DocNumber" type="xs:string"/>
            <xs:element name="TransportNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="COARRIType">
        <xs:sequence>
            <xs:element name="VV_info" type="tns:VV_infoType"/>
            <xs:element name="CNT" type="tns:CNTType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VV_infoType">
        <xs:sequence>
            <xs:element name="Direction" type="xs:string" minOccurs="0"/>
            <xs:element name="VesselName" type="xs:string"/>
            <xs:element name="VoyageNumber" type="xs:string"/>
            <xs:element name="callsign" type="xs:string"/>
            <xs:element name="ship_line" type="xs:string"/>
            <xs:element name="PortCode" type="xs:string" minOccurs="0"/>
            <xs:element name="VoyageNumberIn" type="xs:string" minOccurs="0"/>
            <xs:element name="VoyageNumberOut" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VV_NOTICEType">
        <xs:sequence>
            <xs:element name="VV_info" type="tns:VV_infoType"/>
            <xs:element name="Operations" type="tns:OperationsType"/>
            <xs:element name="CNT" type="tns:CNTType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OperationsType">
        <xs:sequence>
            <xs:element name="Operation" type="tns:OperationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OperationType">
        <xs:sequence>
            <xs:element name="OperType" type="xs:string"/>
            <xs:element name="OperDateTime" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EXP_BOLType">
        <xs:sequence>
            <xs:element name="BOL_info" type="tns:BOL_infoType"/>
            <xs:element name="CNT" type="tns:CNTType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BOL_infoType">
        <xs:sequence>
            <xs:element name="VesselName" type="xs:string"/>
            <xs:element name="VoyageNumber" type="xs:string"/>
            <xs:element name="bolNumber" type="xs:string"/>
            <xs:element name="bolDate" type="xs:string"/>
            <xs:element name="agent" type="xs:string"/>
            <xs:element name="LoadPort" type="xs:string"/>
            <xs:element name="DischPort" type="xs:string"/>
            <xs:element name="SenderCargo" type="xs:string"/>
            <xs:element name="ReceiverCargo" type="xs:string"/>
            <xs:element name="marksandNumbers" type="xs:string"/>
            <xs:element name="FreightAndCharges" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="data" type="tns:ResponseDataType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ResponseDataType">
        <xs:sequence>
            <xs:element name="Message" type="tns:ResponseMessage"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResponseMessage">
        <xs:sequence>
            <xs:element name="Sender" type="xs:string"/>
            <xs:element name="Recipient" type="xs:string"/>
            <xs:element name="MessageType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DONE"/>
                        <xs:enumeration value="ERROR"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Msgid" type="xs:string"/>
            <xs:element name="errdescription" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
