src/main/resources/xsd/vvnotice.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.example.com/soapservice/vvnotice"
           xmlns:common="http://www.example.com/soapservice/common"
           targetNamespace="http://www.example.com/soapservice/vvnotice"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.example.com/soapservice/common" schemaLocation="common.xsd"/>

    <xs:element name="VV_NOTICE_Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="common:HeaderType"/>
                <xs:element name="VV_info">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PortCode" type="xs:string"/>
                            <xs:element name="VesselName" type="xs:string"/>
                            <xs:element name="VoyageNumberIn" type="xs:string"/>
                            <xs:element name="VoyageNumberOut" type="xs:string"/>
                            <xs:element name="callsign" type="xs:string"/>
                            <xs:element name="ship_line" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Operations">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Operation" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="OperType" type="xs:string"/>
                                        <xs:element name="OperDateTime" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CNT" type="common:CNTType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="VV_NOTICE_Response">
        <xs:complexType>
            <xs:choice>
                <xs:element name="Success" type="common:SuccessResponse"/>
                <xs:element name="Error" type="common:ErrorResponse"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
